.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f6f8e2;
    border: 1px solid #e0ddca;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .container h2 {
    color: #f57c51;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .container p {
    color: #333;
    font-size: 16px;
    line-height: 1.5;
  }
  /* Position the Sign Out button */
.sign-out-button {
  position: absolute;
  top: 10px; /* Adjust the top value as needed */
  right: 10px; /* Adjust the right value as needed */
}
  
  .table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
  }
  
  .table th,
  .table td {
    padding: 8px;
    border: 1px solid #e0ddca;
  }
  
  .table th {
    background-color: #f57c51;
    color: white;
    text-align: left;
  }
  
  .table td {
    vertical-align: top;
  }
  
  .product-actions {
    display: flex;
    gap: 10px;
  }
  
  .product-actions button {
    background-color: #fcbc58;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .product-actions button:hover {
    background-color: #f57c51;
  }
  
  .product-actions .btn-danger {
    background-color: #f05757;
  }
  
  .product-actions .btn-danger:hover {
    background-color: #e03434;
  }
  
  .add-product-button {
    display: block;
    margin-top: 20px;
    text-align: center;
  }
  
  .add-product-button button {
    background-color: #48a44c;
    border: none;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .add-product-button button:hover {
    background-color: #3c8a40;
  }
  

  